LLM_API_BASE=http://localhost:1234
LLM_CHAT_API_URL=https://router.huggingface.co/v1/chat/completions
LLM_API_KEY=your_huggingface_chat_api_key
EMBEDDING_API_URL=https://router.huggingface.co/hf-inference/models/intfloat/multilingual-e5-large
EMBEDDING_API_KEY=your_huggingface_embedding_api_key
EMBEDDING_MODEL=intfloat/multilingual-e5-large
LLM_MODEL=google/gemma-3-27b-it:scaleway

QDRANT_URL=your_qdrant_url
QDRANT_API_KEY=your_qdrant_api_key
QDRANT_COLLECTION=company_docs
SCORE_THRESHOLD=0.80
